:root {
	/*Define os graditentes de uso geral*/
  	--linear-primary: linear-gradient(90deg, #32DC32, #6BE32B);
	--linear-secondary: linear-gradient(90deg, #5E45CC, #4250E3);
	--linear-semantic-red: linear-gradient(90deg, #FF1F26, #FF5512);
	--linear-neutral: linear-gradient(90deg, #3B3A3E, #373739);
	--linear-white: linear-gradient(90deg, #FEFFFE, #FEFFFE);

	/*Cores dos textos*/
	--color-text-title: #1A1A1A;
	--color-text-normal: #333333;

	/*Outras cores*/
	--color-background: #FEFFFE;
	--color-semantic-disable: #d4d5d4;
	--color-shadow: #BFBFBF;

  	font-size: 60%
}

/*Desestiliza todas a tags*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Coloca o body no tamanho maximo da tela*/
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	width: 100%;
	min-height: 100vh;

	background-color: var(--color-background);
}

/*Sei la*/
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*Define classe de font para facil manuseio*/
.ubuntu-font {
	font-family: "Ubuntu", sans-serif;
}

.mukta-font {
	font-family: 'Mukta', sans-serif;
}